body {
    background-color: rgb(1, 23, 14);
    font-family: Arial;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
  
.middle {
    display: table-cell;
    vertical-align: middle;
}
  
.inner {
    background-color: rgb(255, 250, 244);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}