.title {
    text-align: center;
}

.round {
    border-radius: 5px;
    border-color: rgb(169, 169, 169);
    border-width: 1px;
}

#op-req {
    min-width: 100px;
    width: 14%;
    padding: 5px;
}

#url-req {
    width: 85%;
    padding: 5px;
}

#accept-req {
    background-color: rgb(9, 65, 41);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 30px;
    margin: 5px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

#accept-req:hover {
    opacity: 0.8;
}

#body-req {
    resize: none;
    width: 100%;
    height: 150px;
    margin: 10px 0px;
}